<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="tab">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="nearby-events" class="tab">
      <ion-icon name="pin"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create-event" class="tab">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="tab">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="tab">
      <ion-icon name="trophy"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
