.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bottom-left {
  position: absolute;
  bottom: 13px;
  left: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.infinite-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  margin-bottom: 10%;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  z-index: 999;
  position: relative;
}

.slides {
  z-index: 1;
  position: relative;
}

.crop {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
