<ion-header>
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <img *ngIf="!fileUrl" src="assets/no-image.jpeg" />
    <img *ngIf="fileUrl" src="{{ fileUrl }}" />
    <ion-card-content>
      <ion-button color="medium" size="large" (click)="cropUpload()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card> -->

  <ion-item>
    <ion-label position="floating" required="true">Etkinlik İsmi</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Başlama Tarihi</ion-label>
    <ion-datetime placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Başlama Saati</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Bitiş Saati</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating" required="true">Adres</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating" required="true">Şehir</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" required="true">Açıklama</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <section>
    <ion-button expand="block">GÖNDER</ion-button>
  </section>
</ion-content>
