<html>
  <ion-header>
    <ion-toolbar>
      <ion-title>Profilin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar class="center">
    <img
      src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
    />
  </ion-avatar>

  <ion-list>
    <ion-header translucent>
      <ion-toolbar>
        <div class="ion-text-uppercase ion-text-center">
          <ion-title color="primary">Ad Soyad</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label>Şehir</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Yaş</ion-label>
    </ion-item>

    <ion-item>
      <ion-label
        >Gönüllülük Puanın
        <ion-icon slot="end" name="ribbon"></ion-icon>
      </ion-label>
      <ion-note slot="end" color="primary" style="font-size:100%">99</ion-note>
    </ion-item>
  </ion-list>

  <ion-content class="ion-padding">
    <ion-button expand="block" routerLink="/qrread">QR'ını Gör</ion-button>
  </ion-content>

  <ion-content> </ion-content>
</html>
