<ion-header>
  <ion-toolbar>
    <ion-title>Kaydol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" required="true">Ad</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true">Soyad</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true"
      >TC Kimlik Numarası</ion-label
    >
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true">Şehir</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true">E-Mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true">Şifre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" required="true">Şifre Tekrarı</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-content fullscreen class="ion-padding">
    <ion-button expand="block">Giriş Yap</ion-button>
  </ion-content>
</ion-content>
